.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rectangle{
    width: 700px;
    height: 310px;
    background-color: #ffffff;
    position: relative;
}

.rectangle h1 {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    margin: 5px;
  }
  
  
  .rectangle label {
    margin-bottom: 10px;
  }
  
  .rectangle input[type='text'] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
  }

  .rectangle .button-view {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    background-color: #0a30d8;
    color: white;
    border: 1px solid #041977;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .rectangle .button-edit {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    background-color: #f1cd00;
    color: white;
    border: 1px solid #927d02;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
  }

  .rectangle .button-delete {
    width: 33%;
    padding: 10px;
    margin-top: 5px;
    background-color: #f1071b;
    color: white;
    border: 1px solid #88030e;
    border-radius: 5px;
    cursor: pointer;

  }

  .rectangle .button-add {
    width: 20%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #216424;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 7px;
  }

  .rectangle .button-add:hover {
    background-color: #45a049;
  }
  
  .rectangle .button-edit:hover {
    background-color: #f1cd00;
  }

  .rectangle .button-delete:hover {
    background-color: #f1071b;
  }
  
  .rectangle .button-view:hover {
    background-color: #0a30d8;
  }

  .rectangle table{
    width: 100%;
    border-collapse: collapse;
  }

  .rectangle td,
  .rectangle th {
    border-bottom: 0.5px solid #b3b2b2;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
  }

  .rectangle th{
    background-color: #e9e9e9;
    font-weight: bolder;
    font-size: 13px;

  }

  .rectangle tr:nth-child(even) {
    background-color: #e9e9e9;
}